 

 .dashboard_header{
   height: 200px;
   width: 100%;
   background-color: gray;
   display: flex;
   align-items: center;
   justify-content: space-around;
   position: relative;
 }
 #dashboard_title{
   height: 100px;
   width: 225px;
   background-color: gray;
   display: flex;
   align-items: center;
   font-size: 75px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
 }

 #dashboard_logo{
   height: 40px;
   width: 50px;
   background-color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   
 }
 .dashboard_box{
   height: 177px;
   width: 100%;
   background-color:transparent;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
 }
 .dashboard_buttons{
   height: 140px;
   width: 140px;
   background-color: #60606077;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 25px;
   transform: rotate(deg);
   text-decoration: none;
   color: black;
   box-shadow: 0 0 8px 4px #606060;
 }
 .dashboard_buttons:hover {
   box-shadow: 0 0 8px 4px white;
 }

/* a{
  background-color: gray;
} */
 .filler{
   height: 140px;
   width: 140px;
   background-color: transparent;
 }
 h4{
   font-size: 30px;
 }
 #profile_pic{
   position: absolute;
   bottom: 50px;
   right: 30px;
   z-index: 1;
  }
 .profile_pic{
  height: 100px;
   width: 100px;
   border-radius: 50%;
   background-color: white;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 #profile_img{
   position: absolute;
   z-index: 1;
     }
 .profile_img{
   height:100px;
   width: 100px;
   border-radius: 50%;
 }
 .drop_down{
   height:200px;
   width:100px;
   background-color: black;
   position: absolute;
   top: 50px;
   border-radius: 0px 0px 50px 50px;
   color: white;
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 0px;
   overflow-y: hidden;
   transition: all 1s ease;
 }
 .drop_open {
  height: 200px;

 }

 @keyframes dropDown {
    from {height: 0px;}
    to {height: 200px;}
 }
 #logo_script{
   height:10px;
   width: 50px;
   color: white;
 }
 #drop_down_filler{
   height:75px;
   width:100px;
   background-color: black;
   display: none;
 }
 #background_img{
 height: 100%;
 width: 100%;
 background-image: url('../assets/IMG_1694_edited.jpg');
 background-size: cover;
 }
 .slide_closed_left{
  transform: translateX(100vw);
  transition: all 150ms ease;
 }
 .slide_closed_right{
   transform: translateX(-100vh);
   transition: all 150ms ease;
 }
 .open {
  transform: translateX(0);
 }  
 