.form_container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form_box{
    height: 600px; 
    width: 300px; 
    background-color: gray;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
#login{
    height: 150px;
    width: 275px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
#email_password_box{
    height: 350px;
    width: 275px;
    background-color: blue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

}

